.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  padding-top: 50px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 60%;
}

.swiper-slide.swiper-slide-prev,
.swiper-slide.swiper-slide-next {
  margin-top: 60px !important;
}

.swiper-slide.swiper-slide-prev .caption,
.swiper-slide.swiper-slide-next .caption {
  display: none !important;
}

.swiper-button-prev::after {
  content: "\2190" !important;
  color: #fff7e0 !important;
  margin-left: 20px !important;
}

.swiper-button-next:after {
  content: "\2192" !important;
  color: #fff7e0 !important;
  margin-right: 20px !important;
}
