@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Aktiv-Grotesk"; /*a name to be used later*/
  src: url("./Fonts/AktivGrotesk-Regular.otf"); /*URL to font*/
}

body {
  font-family: "Aktiv-Grotesk", sans-serif;
}

.container {
  @apply max-w-[1511px] mx-auto xl:px-20 md:px-10 sm:px-2 px-4 !h-full;
}

.parent-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.child-containers {
  height: 100vh;
  scroll-snap-align: start;
}
