@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Aktiv-Grotesk"; /*a name to be used later*/
  src: url("./Fonts/AktivGrotesk-Regular.otf"); /*URL to font*/
}

body {
  font-family: "Aktiv-Grotesk", sans-serif;
}

.container {
  @apply max-w-[1511px] mx-auto xl:px-20 md:px-10 sm:px-2 px-4 !h-full;
}
.footer_container {
  @apply !mx-auto lg:px-24 md:px-10 sm:px-2 px-4 !h-full;
}
.collapse.collapse-plus:hover::before {
	content: "";
	width: 76px;
	height: 80px;
	background: #CD6B2A;
	/* top: 0; */
	position: absolute; 
	left: -66px;
	border-radius: 50%;
	transition: .3s;
	z-index: 9999;
	top: -4px;
}