@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/aktiv-grotesk-cd-trial");

body {
  /* font-family: "Aktiv Grotesk Cd Trial", sans-serif;
   font-family: "Aktiv Grotesk Ex Trial", sans-serif;
  font-family: "Aktiv Grotesk VF Trial", sans-serif;
  font-family: "Aktiv Grotesk Trial", sans-serif; */
}
